[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
python-dotenv = "*"
flask-cors = "*"
flask-bcrypt = "*"
flask-session = "*"
flask-redis = "*"
redis = "*"
pyodbc = "*"

[dev-packages]

[requires]
python_version = "3.11"
